<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page of Recipes Web Site</title>
</head>

<body>
    <h3>Добро пожаловать на сайт с рецептами!</h1>
        <div>{% block content %}{% endblock %}</div>
        <div class="footer">
            <nav>
                <ul>
                    <li><a href='#'>О нас</a></li>
                    <li><a href='#'>Контакты</a></li>
                    <li><a href='#'>Правила</a></li>
                </ul>
            </nav>
            <p>Телефон: +7 (123) 456-78-90</p>
            <p>Email: info@htmlacademy.ru</p>
        </div>
</body>

</html>